.q1{
    padding-top: 15px;
    background-image: url(https://html.themexriver.com/Saasio/assets/img/crypto/bg/bn-bg.png);
}
.btn{
    padding: 16px 30px;
    background-color: #022B36;
    border: 1px solid #02DEBE;
    color: white;
    font-weight: 700;
    border-radius: 28px;
}
.nav-link{
    color: white;
    font-weight: 600;
display: inline;
margin-left: 25px;
font-size: 18px;

}
.navbar-nav{
    margin-left: 75px;
    
}
.navbar{
    background-color: #022B36;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
}
.bi{
    color: #02DEBE;
}
.q4{
    color: white;
font-size: 68px;
    font-weight: 700;
}
.q5{
    color: #02DEBE;
}
.q6{
    font-weight: 600;
    color: #D7D7D7;
    font-size: 16px;
}
.q7{
    padding: 16px 30px;
    background-color: #02DFBF;
    border: 1px solid #02DEBE;
    color: white;
    font-weight: 700;
    border-radius: 28px; 
    text-decoration: none;
}
.q8{
    color: white;
    margin-left: 35px;
    margin-top: -50px;
}
.bi-play-circle{
    margin-left: -65px;
}
.w1{
    background-color: #07252A;
}
.w2{
    color: #02DEBE;
}
.w3{
    color: white;
    font-weight: 700;
    font-size: 50px;
}
.w4{
    color: white;
    font-weight: 700;
}
.w5{
    color: #D7D7D7;
}
.w6{
    width: 50px;
    
}
.w7{
    padding: 18px;
    background-color: #022B36;
    border-radius: 50%;
    margin-top: 10px;
}
.w{
    height: 600px;
}
.e1{
    background-color: #07252A;
}
.e2{
    background-color: #274E36;

border: 2px solid #02DFBF;
border-radius: 40px;
}
.e3{
    font-weight: 700;
    color: white;
    margin-top: 35px;
}
.e5{
    margin-left: 68px;
}
.e4{
    color: #E6E6E6;
    font-weight: 600;
}
.r1{
    padding: 16px 30px;
    background-color: #F8A501;
    border: 1px solid #02DEBE;
    color: white;
    font-weight: 700;
    border-radius: 10px; 
    text-decoration: none;
}